*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    position: relative;
    font-family: 'Mulish', sans-serif;
}
/* navbar */
nav{
    z-index: 1000;
}
.navbar{
    background-color: #212529;
    box-shadow: 0px 2px 5px 0px  #212529;
    border-radius: 0px 0px 20px 20px;
    height: 18vh;
    width: 99%;
    margin-left: 0.5%;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition:.3s ease-in-out;
    
}
.titulo{
    color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition:.3s ease-in-out;
}
.titulop{
    color: white;
    font-size: 15px;
    letter-spacing: 1.5px;
}
.navbar.abierta .titulo{
    display: none;
}

.navbar.abierta{
    background-color: #212529;
    box-shadow: 0px 2px 5px 0px  #212529;
    border-radius: 0px 0px 20px 20px;
    height: 70vh;
    width: 99%;
    margin-left: 0.5%;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition:.3s ease-in-out;
}
.menu{
    position: fixed;
    background-color: transparent;
    border: 0px solid;
    z-index: 100;
    width: auto;
    height: auto;
    cursor: pointer;
    padding: 15px;
}
.menu1{
    height: 4px;
    width: 24px;
    position: relative;
    display: block;
    background-color: white;
    border-radius: 20px;
    top: 10px;
    transition:.2s ease-in-out;
    margin: 0;
}
.menu2{
    height: 24px;
    width: 4px;
    position: relative;
    display: block;
    background-color: white;
    border-radius: 20px;
    top: -4px;
    left: 10px;
    transition:.2s ease-in-out;
    margin: 0;
  }
.menu1.abierta{
    -ms-transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    transition: 0.5s ease;
}
.menu2.abierta{
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    transition: 0.5s ease;
}
.contact{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar.abierta .contact{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    bottom: 0;
}
.wpimg{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.nombre{
    display: none;
}
.nombre.abierta{
    position: relative;
    top: 8%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 24px;
    color: white;
    width: 100%;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.linea.abierta{
    width: 60%;
    height: 2px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    display: flex;
    top: 13%;
    margin:0px 20%;
}
.items{
    display: none;
    transition: 1s ease-out;
}
.navbar.abierta .items{
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 50vh;
    transition: 1s ease-out;
}
.itemslista{
    text-decoration:none;
    list-style: none;
    font-size: 16px;
    text-align: center;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    top: 50px;
    transition: 1s ease-out;
}
/* main */
main{
    background-color:  #272B2F;
    height: 100vh;
    overflow: hidden;
}

/* servicios */
.subtitulos{
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.titserv{
    font-size: 16px;
    width: 300px;
    margin: auto;
    color: #E2D96A;
}
.titsubserv{
    font-size: 10px;
    width: 300px;
    margin: auto;
    color: white;
}
.container{
    width: auto;
    height: 90px;
    position: relative;
    top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.tarjetas{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card{
    margin: 2px;
}
.cardimg{
    width: 30px;
    height: 30px;
}
.cardfondo{
    width: 5em;
    height: 5em;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardfondo:hover .cardimg{
    width: 28px;
    height: 28px;
}
.carddescripcion{
    width: 95%;
    height: 150px;
    background: #E2D96A;
    border-radius: 0px 50px 50px 0px;
    top: 28vh;
}

.info{
    width: 300px;
    height: 100px;
    top: 35vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.infop{
    color: white;
    font-size: 15px;
    text-align: center;
}